<!--
Generated template for the MyaddressPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
<ion-navbar>
 <ion-buttons start (click)="closeModal()" class="close-cion" *ngIf="from!=''">
 <button ion-button icon-only class="close">
<ion-icon name="close"></ion-icon>
</button>
</ion-buttons>
<ion-title [class.ml5]="from!=''">My Address</ion-title>
</ion-navbar>
</ion-header>

<ion-content>
<div class="address-t" *ngIf="product.length>0">Saved Address</div>
<div class="saved-address-box "  *ngFor="let add of product" (click)="selectaddress(add)">
<div class="saved-address-content">
<h3>{{add.ab_type}}</h3>
<p>{{add.ab_address}}</p>
<div class="saved-address-button" *ngIf="from==''">
<span class="mr-10" (click)="editaddress(add)">EDIT</span>
<span (click)="deleteadd(add)">DELETE</span>
</div>
</div>
</div>
<div class="no-img" *ngIf="product.length<=0">
<div class="no-img-box mb-20">
<img src="assets/imgs/no-addrss.png">
<h3>No Address Found!</h3>
<p> You dont't have any address saved. Saving address<br> helps you service faster.</p>
</div>

<button ion-button  class="button-green mt-20" (click)="openaddress()">Add an Address</button>

</div>


</ion-content>
 
<ion-footer class="p10" *ngIf="product.length>0">
 <ion-row>
<ion-col>
<button (click)= "openaddress()" ion-button full class="button-green">Add an address</button>
</ion-col>
</ion-row>
</ion-footer>
