<!--
Generated template for the MyorderPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
<ion-navbar>
<ion-title>My Orders</ion-title>
</ion-navbar>
</ion-header>


<ion-content class="bg-gray">
<div class="cart-item-box" (click)="openorderdetail()" *ngFor="let order of orders">
<ion-row>
<ion-col col-12>
<div class="cart-item-title">Order Id: <span style="color:#999">{{order.trans_id}}</span></div>
<div class="cart-item-title">Jeera, Hen, Rai</div>
<div class="cart-author mb-10"><span class="status-text btn-success"></span>Delvered on 29 Sep 2019</div>
 </ion-col>
</ion-row>
</div>
</ion-content>
