<!--
Generated template for the HelpsupportPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
<ion-navbar>
<ion-title>Help & Support</ion-title>
</ion-navbar>
</ion-header>

<ion-content>
<div class="service-box mb-10">
<div class="support-icon"><img src="assets/icon/support-service.png"></div>
<h2>At your service</h2>
<p>Our India based customer service team will be able to<br>assist you with any order or enquiries.</p>
<span>MONDAY - SUNDAY | 10AM - 10PM</span>
</div>
<div class="divider"></div>
<div class="myaccount-box bg-white">
<div class="myaccount-list">


<a [href]="'mailto:' + staticPages.support_email + ''" style="text-decoration:none;color:#000">
<ion-item  >
<ion-avatar item-start>
<img src="assets/icon/131155.svg" class="my-account-list-icon">

</ion-avatar>

<h2>Email us</h2>

<ion-icon name="ios-arrow-forward"></ion-icon>

</ion-item>
</a>

<a [href]="'tel:' + staticPages.support_call + ''" style="text-decoration:none;color:#000">
<ion-item >
<ion-avatar item-start>
<img src="assets/icon/support.png" class="my-account-list-icon">

</ion-avatar>


<h2>Call us</h2>
<ion-icon name="ios-arrow-forward"></ion-icon>
</ion-item>
 </a>

 
 

<ion-item  (click)="onShowFaq()">
<ion-avatar item-start>
<img src="assets/icon/discuss-issue.png" class="my-account-list-icon">
</ion-avatar>
<h2>FAQ</h2>
<ion-icon name="ios-arrow-forward"></ion-icon>
</ion-item>
</div>
</div>
</ion-content>

