<!--
Generated template for the LoginPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-content>
<div class="error-message">{{loginErrorMsg}}</div>
<div class="login-box bg-theme">
<ion-row>
<ion-col col-8>
<div class="logo"><img src="assets/imgs/logo.png"></div>
</ion-col>
<ion-col col-4></ion-col>
</ion-row>
</div>

<form [formGroup]="validations_form">






<ion-list>
<ion-item>
<ion-title> enter Email/Mobile no
</ion-title>
<ion-title>
to Login</ion-title>
</ion-item>
<ion-item>
<ion-label stacked>Username</ion-label>
<ion-input type="text" formControlName="username"></ion-input>
</ion-item>
<ion-item>
<ion-label stacked>Password</ion-label>
<ion-input type="password" formControlName="passwordd"></ion-input>
</ion-item>
</ion-list>
<div padding>
<button (click)= "checkmobilenumber()"  ion-button block >Login</button>
</div>
<p>if forgotten id/password,  click here.</p>
<!--
<button (click)= "goToRegister()" ion-button round>Sign - Up</button>
-->
<button (click)= "goToRegMobNo()" ion-button block >Login with OTP</button>
</form>
</ion-content>
