<!--
  Generated template for the StatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title> <ion-searchbar
  [(ngModel)]="myInput"
  [showCancelButton]="shouldShowCancel"
  (ionInput)="getItems($event)"
  (ionCancel)="onCancel($event)"
  placeholder="Search For State">
</ion-searchbar></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>


  <div [hidden]="states_list.length == 0">
    <div class="search-result" *ngFor="let item of states_list" tappable (click)="selectSearchResult(item)">{{ item.state_name }}</div>
    </div>

</ion-content>
