<!--
Generated template for the RegisterphonenumberPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
<ion-toolbar>
<ion-title></ion-title>
</ion-toolbar>
</ion-header>
<ion-content >
<div class="error-message" *ngIf="loginErrorMsg">{{loginErrorMsg}}</div>
<!--
<div class="login-box bg-theme">
<ion-row>
<ion-col col-8>
<div class="logo"><img src="assets/imgs/logo.png"></div>
</ion-col>
<ion-col col-4 (click)= "goToHome()">
<img src="assets/icon/multiply.png" class="pull-right img16 mt-25">
</ion-col>
</ion-row>
</div>
-->
<div class="login-section">
<h3>Login & Signup</h3>
<p class="tx-color-03 line22 mb-0">Please provide your mobile number to<br>login & signup on Grocerykart</p>
</div>
<form [formGroup]="validations_form">
<div class="login-section-form">
<div class="ls-form">
<div class="ls-form-box country-input">
<ion-input type="number" placeholder="Enter Mobile Number" formControlName="user_mobile"></ion-input>
<div class="country-code">+91</div>
</div>
<div class="ls-form-box">
<button ion-button full class="buttonab" (click)= "sendotp()">CONTINUE</button>
</div>
</div>
</div>
</form>
<div class="terms-text tx-color-03">By creating or logging info an account  you are agreeing with our <span (click)= "goTotnc()" class="text-blue">Terms of Use</span> and <span (click)= "goTotnc()" class="text-blue">Privacy Policy</span></div>
</ion-content>
