<!--
  Generated template for the CityPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--
  Generated template for the CitylistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

<ion-navbar>
<ion-title> <ion-searchbar
[(ngModel)]="myInput"
[showCancelButton]="shouldShowCancel"
(ionInput)="getItems($event)"
(ionCancel)="onCancel($event)"
placeholder="Search For City">
</ion-searchbar></ion-title>
</ion-navbar>
</ion-header>
<ion-content>
<div [hidden]="city_list.length == 0">
<div class="search-result" *ngFor="let item of city_list" tappable (click)="selectSearchResult(item)">{{ item.cities_name }}</div>
</div>
</ion-content>
