<!--
Generated template for the RegisterPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
<ion-navbar>
<ion-title>Register with Jiyo Home</ion-title>
</ion-navbar>
</ion-header>

<ion-content>
<div class="error-message" *ngIf="loginErrorMsg">{{loginErrorMsg}}</div>
<form [formGroup]="validations_form">
<div class="panel p15">
<div class="form-panel">
<div class="form-panel-box">
<ion-input type="text" formControlName="user_first_name" placeholder="First Name"></ion-input>
</div>
<div class="form-panel-box">
<ion-input type="text" formControlName="user_last_name" placeholder="Last Name"></ion-input>
</div>
<div class="form-panel-box">
<ion-input type="text" readonly formControlName="user_mobile" placeholder="Mobile Number"></ion-input>
</div>
<div class="form-panel-box">
<ion-input type="email" formControlName="user_email_id" placeholder="Email id"></ion-input>
</div>
<div class="form-panel-box mb-25">
<ion-input type="password" formControlName="user_password" placeholder="Password"></ion-input>
</div>

<div class="form-panel-box mb-25">
<ion-checkbox class="pull-left mt-2" value="1" (ionChange)="getenablereff($event)" ></ion-checkbox> <span class="ml-10 text-muthed">I have referral code</span>
</div>

<div class="form-panel-box" *ngIf="reff_enable">
<ion-input type="text"  formControlName="user_ref_id" placeholder="Enter your referral code"></ion-input>
</div>

<div class="form-panel-box mt-30">
<button ion-button full class="button-fill" class="button-green mt-20" (click)= "goforRegister()">Register</button>
</div>
</div>
</div>
</form>
</ion-content>
