<!--
Generated template for the OrderdetailsPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
<ion-navbar>
<ion-title>#657768</ion-title>
</ion-navbar>
</ion-header>

<ion-content class="bg-gray">
<div class="cp-list">
<ion-row>
<ion-col col-2>
<img src="https://www.jiyohome.com/webroot/img/uploads/product_image/1568206532raragoldajwain.jpg">
</ion-col>
<ion-col col-10>
<ion-row>
<ion-col col-12 class="p0">
<div class="cplist-title">Ajwain Seeds</div>
<div class="hpb-hr-price mt-10">
<span class="new-price">₹500</span>
<span class="old-price ml-5">₹400</span>
</div>
</ion-col>
</ion-row>
</ion-col>
</ion-row>
</div>
<div class="cp-list">
<ion-row>
<ion-col col-2>
<img src="https://www.jiyohome.com/webroot/img/uploads/product_image/1568206532raragoldajwain.jpg">
</ion-col>
<ion-col col-10>
<ion-row>
<ion-col col-12 class="p0">
<div class="cplist-title">Ajwain Seeds</div>
<div class="hpb-hr-price mt-10">
<span class="new-price">₹500</span>
<span class="old-price ml-5">₹400</span>
</div>
</ion-col>
</ion-row>
</ion-col>
</ion-row>
</div>
<div class="panel-title mt-10 pb-0">Price Details</div>
<div class="panel-box p15">
<div class="bill-list">
<ul>
<li>Price  <span>₹500</span></li>
<li>Delivery <span>Free</span></li>
<li>Discount <span>-₹20</span></li>
<div class="divider-dotted mb-5 mt-5"></div>
<li><strong>Amount Payable</strong> <span>₹500</span></li>
</ul>
</div>
</div>
</ion-content>
