<!--
  Generated template for the ThankyouPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>thankyou</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
    <div class="no-img">
        <div class="no-img-box mb-20">
        <img src="assets/imgs/thankyou.png">
        </div>
        <h3>Thanks for placing order!</h3>
        <p>Please wait until we are confirm your order</p>
        <button ion-button class="button-c mt-20" (click)="backButtonAction()">Back To Home</button>
        </div>
</ion-content>
