<!--
Generated template for the EditprofilePage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
<ion-navbar>
<ion-title>Edit Profile</ion-title>
</ion-navbar>
</ion-header>

<ion-content padding>
<div>{{loginErrorMsg}}</div>
<form [formGroup]="validations_form">
<div class="panel">
<div class="form-panel">
<div class="form-panel-box">
<ion-input type="number" formControlName="user_mobile" readonly placeholder="Mobile Number"></ion-input>
</div>
<div class="form-panel-box">
<ion-input type="text" formControlName="user_first_name"></ion-input>
</div>
<div class="form-panel-box">
<ion-input type="text" formControlName="user_last_name"></ion-input>
</div>
<div class="form-panel-box">
<ion-input type="text" formControlName="user_email_id"  readonly placeholder="Email Id" ></ion-input>
</div>
<div class="form-panel-box mt-30">
<button ion-button full class="button-green" (click)="checkform()">UPDATE</button>
</div>
</div>
</div>
</form>
</ion-content>
