<!--
  Generated template for the ViewbrandPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Shop by Brands</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<ion-row>
<ion-col col-4 *ngFor="let category of dashboarddata">
<div class="home-cat-box text-center"  (click)="openbrandlist(category)">
<h4>{{category.brand_name}}</h4>
<div class="home-cat-box-img">
<img src="{{url}}{{category.brand_image}}" *ngIf="category.brand_image!=''">
<img src="assets/imgs/placeholder.jpg" *ngIf="category.brand_image==''">
</div>
</div>
</ion-col>
</ion-row>


</ion-content>
