<!--
Generated template for the ProductlistPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header class="header-inner">
<ion-navbar>
<ion-title>{{category.category_name}}</ion-title>
<ion-buttons end>
<button ion-button icon-only class="top-header-right" (click)="opencart()">
<ion-icon name="cart"></ion-icon>
<ion-badge class="cart-badge" color="danger" *ngIf="cartdata.length>0">{{cartdata.length}}</ion-badge>
</button>
</ion-buttons>
</ion-navbar>
</ion-header>
<ion-content class="bg-light">
<div class="no-img" *ngIf="product.length==0 && test">
<div class="no-img-box">
<img src="assets/imgs/empty_product.svg">
</div>
<h3>No Products Found</h3>
<p>No Product Found in This Category</p>
</div>
<div class="p10">
<div class="pr-list-box" *ngFor="let pdd of product;let j:index">
<ion-row>
<ion-col col-3>
<div class="pr-list-box-img">
<div class="pr-off">20% Off</div>
<img src="{{product_url}}{{pdd.product_featured_image}}" (click)="openproductdetail(pdd)">
</div>
</ion-col> 
<ion-col col-9 class="pl-10">
<div class="pr-box-title" (click)="openproductdetail(pdd)">
{{pdd.product_name}}
</div>
<div class="pr-price clscp{{pdd.sk_productbusinessprice[0].pu_product_id}}"  *ngIf="pdd.sk_productbusinessprice[0]!=undefined"  >
<span class="new-price">₹{{pdd.sk_productbusinessprice[0].pu_net_price}}</span>
<span class="old-price ml-5">MRP ₹{{pdd.sk_productbusinessprice[0].pu_selling_price}}</span>
<!--<span class="discount ml-5" *ngIf="getpercentagediscount(pdd)>0">{{getpercentagediscount(pdd)}}% off</span>-->
</div>
<div class="pr-qty-box">
<div class="pr-qty-unit">
<ion-select (ionChange)="setdata($event,pdd)" placeholder= "select">
<ion-option [selected]="i==0"   value="{{i}}"  *ngFor="let unitdata of pdd.sk_productbusinessprice; let i = index"  name="periodSelected" >{{unitdata.sk_unit.unit_name}} - ₹{{unitdata.pu_net_price}}</ion-option>
</ion-select>
</div>
<div class="prq-add">
<div *ngFor="let unitdata of pdd.sk_productbusinessprice; let i = index">
<div class="clscpadddata{{unitdata.pu_product_id}} clscpadddataunit{{unitdata.pu_product_id}}{{unitdata.pu_unit}}" *ngIf="pdd.unit_id==unitdata.pu_unit">
<button ion-button class="btn-addcart" (click)="addtocart(pdd,i)" *ngIf="pdd.unit_id==unitdata.pu_unit && pdd.qty<=0">ADD</button>
<div class="prq-add-pm" *ngIf="pdd.unit_id==unitdata.pu_unit && pdd.qty>0">
<button ion-button class="button-addpm" (click)="minustocart(pdd,i)">-</button>
<span class="prq-input">{{pdd.qty}}</span>
<button ion-button class="button-addpm" (click)="plustocart(pdd,i)">+</button>
</div>
</div>
</div>
</div>
</div>
</ion-col>
</ion-row>
</div>
</div>
</ion-content>
