<!--
Generated template for the SharearnPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
<ion-navbar>
<ion-title>Share & Earn</ion-title>
</ion-navbar>
</ion-header>

<ion-content>
<div class="refer">
<div class="refer-header">
<h3>Invite your friends</h3>
<p>Refer your friends to Bhukaddd <br>with your unique referral code.</p>
</div>
<div class="refer-img">
<img src="assets/imgs/refer-earn.png">
</div>
<div class="referal-code-block-content">
<p>{{user_sharescreenmessage}}</p>
</div>
<div class="referal-code-block">
{{user_code}} 
</div>
</div>
</ion-content>
<ion-footer class="p15 pt-10 pb-10 bg-white border-top">
<button ion-button full class="button-green" (click)="shareApp()">Invite & Earn</button>
</ion-footer>

