<!--
Generated template for the OtpPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
<ion-navbar>
<ion-title></ion-title>
</ion-navbar>
</ion-header>
<ion-content>
<div class="error-message"*ngIf="loginErrorMsg">{{loginErrorMsg}}</div>
<div class="vo-section">
<h3>Verify Mobile Number</h3>
<p class="tx-color-03 mb-0 line22">OTP has been sent to you on your mobile number. plese enter it below</p>
<div class="vo-input">
<ion-input type="number"></ion-input>
<ion-input type="number"></ion-input>
<ion-input type="number"></ion-input>
<ion-input type="number"></ion-input>
</div>
<p>Didn't receive the OTP? <span class="text-blue">Resend</span></p>
</div>


<form [formGroup]="validations_form">
<div class="panel p25 text-center">

<div class="otp-text">
<ion-input type="number" placeholder="Enter OTP" formControlName="user_otp"></ion-input>
</div>
<button ion-button full class="button-green mt-30"  (click)= "otpcheck()">DONE</button>
<p class="f13 mb-20 mt-20">Resend OTP</p>
<div class="otp-instr">We have send a verification code to your<br> mobile number</div>
</div>
</form>
</ion-content>
