<!--
  Generated template for the BrandlistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
<ion-navbar>
<ion-title>{{category.brand_name}}</ion-title>
<ion-buttons end>
<button ion-button icon-only class="top-header-right" (click)="opencart()">
<ion-icon name="cart"></ion-icon>
<ion-badge class="cart-badge" color="danger">2</ion-badge>
</button>
</ion-buttons>
</ion-navbar>
</ion-header>



<ion-content >

<div class="no-img" *ngIf="product.length==0 && test">
<div class="no-img-box">
<img src="assets/imgs/empty_product.svg">
</div>
<h3>No Products Found</h3>
<p>No Product Found in This Category</p>
</div>



<div class="panel-box p0" >
 <div class="hpb-hr" *ngFor="let p of product" >

<ion-row>
<ion-col col-4>

<div class="hpb-hr-img">
<img src="{{product_url}}{{p.product_featured_image}}"  (click)="openproductdetail(p)">
</div>

</ion-col>
<ion-col col-8>
<div class="hpb-hr-content">
<div class="hpb-hr-title"  (click)="openproductdetail(p)" >{{p.product_name}}</div>

<div class="hpb-qty-box">
  

   <ion-select (ionChange)="setdata($event,p)" >
   <ion-option [selected]="i==0"   value="{{i}}"  *ngFor="let unitdata of p.sk_productbusinessprice; let i = index"  name="periodSelected" >{{unitdata.sk_unit.unit_name}} - ₹{{unitdata.pu_net_price}}</ion-option>
   </ion-select>
   
</div>

<ion-row>
<ion-col col-7 class="pl-0">
  <div>
  <div class="hpb-price clscp{{p.sk_productbusinessprice[0].pu_product_id}}"  *ngIf="p.sk_productbusinessprice[0]!=undefined"  >
  <span class="new-price">₹{{p.sk_productbusinessprice[0].pu_net_price}}</span>
  <span class="old-price ml-5">₹{{p.sk_productbusinessprice[0].pu_selling_price}}</span>
  <span class="discount ml-5" *ngIf="getpercentagediscount(p)>0">{{getpercentagediscount(p)}}% off </span>
  </div>
  </div>
  </ion-col>

 

 
  <ion-col col-5 class="pr-0 clscpadddata{{p.sk_productbusinessprice[0].pu_product_id}}">
      <button ion-button class="add-button" (click)="openproductdetail(p)">ADD</button>
      
      <div class="hpb-add-pm" style="display:none">
      <button ion-button class="button-mius">-</button>
      <ion-input type="text"></ion-input>
      <button ion-button class="button-plus">+</button>
      </div>
      </ion-col>
  



</ion-row>

</div>
</ion-col>
</ion-row>
</div>
</div>
</ion-content>
