<ion-header class="header-inner">
<ion-navbar>
<button ion-button menuToggle>
<ion-icon name="custom-menu" class="tx-white"></ion-icon>
</button>
<ion-title>
<div class="location-header">
<span class="tx-color-05">Delivery Location</span>
<span class="tx-13">Pratap Nagar, Jaipur  <ion-icon name="ios-arrow-down" class="ml-5 mt-2"></ion-icon></span>
</div>
</ion-title>
<ion-buttons end>
<button ion-button icon-only class="top-header-right" (click)="opennotification()">
<ion-icon name="notifications" class="tx-white"></ion-icon>
</button>
<button ion-button icon-only class="top-header-right mr-10" (click)="opencart()">
<ion-icon name="cart" class="tx-white"></ion-icon>
<ion-badge class="cart-badge" color="danger" *ngIf="cartdata.length>0">{{cartdata.length}}</ion-badge>
</button>
</ion-buttons>
</ion-navbar>
<div class="header-search">
<div class="header-search-box"><ion-icon ios="ios-search" md="md-search">
</ion-icon>Search for Products, Brands and More...</div>
</div> 
</ion-header>
<ion-content class="bg-light">
<div class="main-slider p10">
<ion-slides pager>
<ion-slide *ngFor="let category of dashboarddata.slider">
<img src="{{dashboarddata.slider_url}}{{category.slider_image}}" class="radius04">
</ion-slide>
</ion-slides>
</div>
<div class="panel-title pb-0">Top Caterories <span class="pull-right f12"  (click)="goViewOne()">View All</span></div>
<div class="home-cat">
<ion-row>
<ion-col col-4 *ngFor="let category of dashboarddata.category">
<div class="hc-box">
<img src="{{dashboarddata.category_url}}{{category.category_icon}}" *ngIf="category.category_icon!=null">
<img src="assets/imgs/placeholder.jpg" *ngIf="category.category_icon==null">
<p>{{category.category_name}}</p>
</div>
</ion-col>
</ion-row>
</div>
<div class="main-slider p10">
<ion-slides pager>
<ion-slide>
<img src="assets/imgs/top-banner-1.jpg" class="radius04">
</ion-slide>
<ion-slide>
<img src="assets/imgs/top-banner-2.jpg">
</ion-slide>
</ion-slides>
</div>
<div  *ngFor="let category of dashboarddata.tag">
<div class="panel-title pb-0">{{category.tag_name}} <span class="pull-right f12"  (click)="goViewTwo(category)">View All</span></div>
<div class="product-slider">
<ion-slides  slidesPerView="2.5" spaceBetween="10">
<ion-slide *ngFor="let product of category.child" (click)="openproductdetail(product)">
<div class="ps-box">
<div class="ps-box-img">
<img src="{{dashboarddata.product_url}}{{product.product_featured_image}}">
</div>
<div class="ps-box-content">
<div class="psbc-title">{{product.product_name}}</div>
<div class="clsp{{product.sk_productbusinessprice[0].pu_id}} clscommon{{product.sk_productbusinessprice[0].pu_product_id}}"  *ngIf="product.sk_productbusinessprice[0]!=undefined">
<div class="hpb-price pb-0 clsp{{product.sk_productbusinessprice[0].pu_id}} clscommon{{product.sk_productbusinessprice[0].pu_product_id}}"  *ngIf="product.sk_productbusinessprice[0]!=undefined">
 
<!--
<div class="hpb-title">Eagle Kashmiri Mirch Powder</div>
<div class="hpb-qty-box">
  <ion-item>

    <ion-label>select</ion-label>
<ion-select (ionChange)="setdata($event,product)" placeholder= "select">
<ion-option [selected]="i==0"   value="{{i}}"  *ngFor="let unitdata of product.sk_productbusinessprice; let i = index"  name="periodSelected" >{{unitdata.sk_unit.unit_name}} - ₹{{unitdata.pu_net_price}}</ion-option>
</ion-select>
  </ion-item>

</div>
-->
<div>
<div class="hpb-price pb-0 clsp{{product.sk_productbusinessprice[0].pu_id}} clscommon{{product.sk_productbusinessprice[0].pu_product_id}}"  *ngIf="product.sk_productbusinessprice[0]!=undefined"  >
<span class="new-price">₹{{product.sk_productbusinessprice[0].pu_net_price}}</span>
<span class="old-price ml-5">₹{{product.sk_productbusinessprice[0].pu_selling_price}}</span>
<span class="discount ml-5" *ngIf="getpercentagediscount(product)>0">{{getpercentagediscount(product)}}% off</span>
</div>
<!--<div class="hpb-add"> <ion-icon name="ios-basket"></ion-icon> Add</div>-->
</div> 
</div>
</div>
</div>
</div>
</ion-slide>
</ion-slides>
</div>
</div>
<div class="add-banner p10 pb-0 pt-0">
<img src="assets/imgs/add04.jpg">
</div>
<ion-row class="p5 pt-0 pb-0">
<ion-col col-6>
<div class="add-banner">
<img src="assets/imgs/mult-banner-4.jpg">
</div>
</ion-col>
<ion-col col-6 >
<div class="add-banner">
<img src="assets/imgs/mult-banner-5.jpg">
</div>
</ion-col>
</ion-row>
<div class="panel-title pb-0">Popular Brands <span class="pull-right f12"  (click)="goViewBrand()" >View All</span></div>
<div class="brand-slider">
<ion-slides  slidesPerView="4.5" spaceBetween="10">
<ion-slide (click)="openbrandlist(category)"  *ngFor="let category of dashboarddata.brand">
<div class="home-brand">
<img src="{{dashboarddata.brand_url}}{{category.brand_image}}" *ngIf="category.brand_image!=''">
<img src="assets/imgs/placeholder.jpg" *ngIf="category.brand_image=='' ">
</div>
</ion-slide>
</ion-slides>
</div>
</ion-content>
