<!--
  Generated template for the NotificationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Notification</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <div class="no-img" *ngIf="product.length==0">
        <div class="no-img-box">
        <img src="assets/imgs/empty_product.svg">
        </div>
        <h3>No Notification Found</h3>
         </div>

  <div class="offer-list" *ngFor="let n of product">
      <div class="product-details-img" >
          <img src="{{n.noti_image}}">
          </div>
      <span class="price-new">{{n.noti_title}}</span>
   <div></div>
  <span class="price-new">{{n.noti_message}}</span>
</div>
</ion-content>
