<!--
Generated template for the OffersPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
        <ion-navbar>
        <ion-buttons start (click)="closeModal()" class="close-cion" *ngIf="from!=''">
        <button ion-button icon-only class="close">
        <ion-icon name="close"></ion-icon>
        </button>
        </ion-buttons>
        <ion-title [class.ml5]="from!=''"> Promocode / Offers</ion-title>
        </ion-navbar>
        </ion-header>
<ion-content>
<div class="panel-box p15">
<div class="offer-input">
<ion-input type="text"  placeholder="Enter promocode here" [(ngModel)]="coupon_code">{{promocode_message}}</ion-input>
<div class="offer-input-button" (click)="applybyname()">Apply</div>
</div>
</div>
<div class="offer-title">Available Offers</div>
<div class="offer-list" *ngFor="let off of offercelist">
<div class="offer-input-button" >Apply</div>
<div class="offer-list-apply" (click)="applybyid(off)">Apply</div>
<div class="offer-list-code">{{off.coupon_code}}</div>
<div class="offer-list-title">{{off.coupon_title}}</div>
<div class="offer-list-des"></div>
</div>
<div class="error-message" *ngIf="error_message!=''">{{error_message}}</div>
</ion-content>
