<!--
  Generated template for the TermconditionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Term & Condition</ion-title>
  </ion-navbar>
</ion-header>
  
 <ion-content>
<p class="text-center" *ngIf="hidef==0">
<ion-spinner name="crescent" class="mt-100"></ion-spinner>
</p>
	  <iframe height="100%" width="100%" [class.hide]="hidef==0" [src]="my_iframe_url" style="border:none;"></iframe>

</ion-content>
