<!--
  Generated template for the PaymentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Payment</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="payment-list" >
    <ion-item class="payment-list-box" (click)="openpaymenturl()">
    <ion-avatar item-start>
    <img src="assets/icon/credit-card.png" class="payment-list-icon">
    </ion-avatar>
    <ion-label>
    <div class="payment-list-content">
    <h3>Credit/ Debit Cards/ NetBanking / UPI</h3>
    <ion-icon name="ios-arrow-forward" class="payment-list-arrow"></ion-icon>
    </div>
    </ion-label>
    </ion-item>
    </div>
</ion-content>
