// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
//////////////////////////////////////////////////////////
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,400,500,600,700,800,900&display=swap');
ion-app.md{
font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
margin-top: 1rem;
margin-bottom: 1rem;
font-family: 'Roboto Slab', serif;
}
//////////////////////////////////////////////////////////
.toolbar-background-md {
border-color: #fff;
background: #fff;
}
.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
background-image:none !important;
}
.toolbar-title-md {
padding: 0 12px;
font-size:1.8rem;
font-weight: 500;
color: #424242;
}
.item-md.item-block .item-inner {
padding-right: 8px;
border-bottom: 0px solid #dedede;
}
.item-md h2 {
margin: 2px 0;
font-size: 1.4rem;
font-weight: normal;
}
.item-md p{
font-size:1.2rem;
}
//////////////////////////////////////////////////////////
.bg-gray{
background:#f5f5f5;
}
.bg-theme{
background: #232f3e !important;
}
.bg-green{
background:#4eb653 !important;
}
.color-theme{
color:#84c225;
}
.color-white{
color:#fff !important;
}
.f12{
font-size:1.2rem !important;
}
.f12{
font-size:1.2rem;
}
.f13{
font-size:1.3rem;
}
.f14{
font-size:1.4rem;
}
.f15{
font-size:1.5rem !important;
}
.f16{
font-size:1.6rem !important;
}
.f18{
font-size:1.8rem !important;
}
.line20{
line-height:20px;
}
.line22{
line-height:22px;
}
.line24{
line-height:24px;
}
.p0{
padding:0px !important;
}
.p5{
padding:5px;
}
.p15{
padding:15px !important;
}
.p25{
padding:25px !important;
}
.p10{
padding:10px;
}
.pt-0{
padding-top:0px !important;
}
.pt-5{
padding-top:5px !important;
}
.pt-10{
padding-top:10px;
}
.pt-20{
padding-top:20px;
}
.pl-0{
padding-left:0px !important;
}
.pl-5{
padding-left:5px !important;
}
.pl-10{
padding-left:10px !important;
}
.pl-15{
padding-left:15px !important;
}
.pr-0{
padding-right:0px !important;
}
.pr-10{
padding-right:10px;
}
.pr-15{
padding-right:15px !important;
}
.pb-0{
padding-bottom:0px !important;
}
.pb-10{
padding-bottom:10px;
}
.mb-0{
margin-bottom:0px;
}
.mb-5{
margin-bottom:5px;
}
.mb-10{
margin-bottom:10px;
}
.mb-15{
margin-bottom:15px;
}
.mb-20{
margin-bottom:20px;
}
.mt-0{
margin-top:0px;
}
.mt-5{
margin-top:5px;
}
.mt-7{
margin-top:7px;
}
.mt-10{
margin-top:10px;
}
.mt-20{
margin-top:20px;
}
.mt-25{
margin-top:25px;
}
.mt-30{
margin-top:30px;
}
.mr-5{
margin-right:5px;
}
.mr-10{
margin-right:10px;
}
.ml-3{
margin-left:3px;
}
.ml-5{
margin-left:5px;
}
.img24{
width:24px;
}
.img16{
width:16px;
}
.img75{
width:75px;
}
.img85{
width:85px;
}
.img95{
width:95px;
}
.img100{
width:100px;
}
.divider-gray{
background:#f5f5f5;
height:8px;
width:100%;
}
.text-center{
text-align:center;
}
.text-muthed{
color:#666;
}
.text-blue{
color: #4a8bfc;
}
.pull-right{
float:right;
}
.border-top{
border-top:1px solid #eee;
}
.panel-title{
padding:10px 10px;
font-weight:500;
font-size:1.6rem;
color:#353535;
font-family: 'Roboto Slab', serif;
}
.panel-box{
width:100%;
position:relative;
padding:10px;
background:#fff;
}
.des p{
margin:0;
margin-bottom:5px;
font-size:1.2rem;
line-height:18px;
}
.divider{
width:100%;
background:#f5f5f5;
height:7px;
}
.divider-dotted{
height:1px;
width:100%;
border:1px dotted #ccc;
}
.button-green{
background:#84c225;
box-shadow:none;
color:#fff;
height:45px;
color:#fff;
border-radius:4px;
}
.button-plane{
box-shadow: none;
background: transparent;
padding: 0;
color:#333;
}
.button-theme{
background:#232f3e;
box-shadow:none;
color:#fff;
height:45px;
color:#fff;
}
.button-i{
background: #84c225; 
text-transform: uppercase;
height: 50px;
color:#fff;
border-radius:0px;
box-shadow:none;
margin:0;
}
.button-h{
background: #fff;
margin:0; 
text-transform: uppercase;
box-shadow:none;
height:50px;
color:#333;
border-radius:0px;
}
.button-line{
background:transparent;
box-shadow:none;
border:2px solid #232f3e;
color:#232f3e;
height:45px;
padding:0px 30px;
}
.error-message{
background:#e8554b;
text-align:center;
font-size:1.2rem;
padding:5px 0px;
color:#fff;
position:absolute;
bottom:0;
width:100%;
}
.border-bottom {
border-bottom: 1px solid #eee;
}
/////////////////////////////////////////////////
.lr-form{
position:relative;
padding:16px;
}
.lr-form-box{
margin-bottom:15px;
position:relative;
}
.lr-form ion-input{
border-bottom:1px solid #eee;
}
.lr-form .text-input-md{
margin:12px 0px;
font-size:1.4rem;
}
.lr-form ion-checkbox{
float: left;
margin-right: 8px;
margin-top: 2px;
}
/////////////////////////////////////////////////
//////////////////////////////////////////////////////////
.no-img{
width:100%;
padding:45px 0px;
text-align:center;
}
.no-img  h3{
font-size:1.6rem;
margin-bottom:0px;
margin-top:10px;
}
.no-img p{
color:#666;
font-size:1.2rem;
line-height:22px;
margin-top:5px;
}
.no-img-box{
width:100%;
}
.no-img-box img{
width:150px;
}

.login-box{
position:relative;
padding:25px 20px 10px 20px;
}
.logo{
width:100%;
}
.logo img{
width:120px;
}
//////////////////////////////////////////////////////////
.offer-title{
background:#84c225;
color:#fff;
font-size:1.4rem;
padding:10px 16px;
}
.offer-input{
width:100%;
position:relative;
}
.offer-input .text-input-md {
margin: 0px 8px;
padding: 10px;
width: calc(100% - 8px - 8px);
border: 1px solid #ccc;
height: 45px;
}
.offer-input-button{
color: #84c225;
position: absolute;
right: 25px;
top: 14px;
font-size: 1.4rem;
font-weight: 500;
text-transform: uppercase;
}
.offer-list{
width:100%;
padding:16px 16px;
background:#fff;
margin-bottom:1px;
position:relative;
}
.offer-list-apply{
color: #eb1c22;
position: absolute;
right: 25px;
top: 12px;
font-size: 1.4rem;
font-weight: 500;
text-transform: uppercase;
}
.offer-list-code{
border: 1px dotted #ccc;
background: #f5f5f5;
padding: 10px 20px;
color: #333;
font-weight: 500;
text-transform: uppercase;
display: inline-block;
margin-bottom: 15px;
}
.offer-list-des{
font-size: 1.1rem;
color: #666;
margin-top:5px;
}
.offer-list-title{
font-size: 1.4rem;
color: #000;
font-weight:500;
margin-bottom:5px;
}
//////////////////////////////////////////////////////////
.service-box{
text-align:center;
padding:50px 16px;
background:#fff;
}
.service-box p{
line-height:24px;
font-size:1.2rem;
}
.service-box span{
font-size:1rem;
color:#666;
}
.service-box .support-icon{
width:80px;
height:80px;
background:#f5f5f5;
border-radius:50%;
margin:0 auto;
padding: 15px;
}
.service-box .support-icon img{
width:100%;
}
.my-account-list-arrow{
background: url(../assets/icon/arrow-right-black.png) no-repeat;
background-size: auto auto;
background-size: 22px;
height: 24px;
width: 24px;
position: absolute;
right: 7px;
z-index: 99999999;
top:2px;
}
.giveMeEllipsis {
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1; 
line-height: 20px;        
max-height: 20px;     
}
.faq-content{
background:#f5f5f5;
}
//////////////////////////////////////////////////////////
.refer{
width:100%;
padding:50px;
}
.refer-header{
width:100%;
text-align:center;
}
.refer-header h3{
margin-top:0;
text-transform:uppercase;
}
.refer-header p{
line-height:20px;
margin-top:0px;
}
.refer-img{
width:90%;
margin-bottom:20px;
}
.refer-img img{
width:100%;
}
.referal-code-block-content{
width:100%;
text-align:center;
margin-bottom:20px;
}
.referal-code-block-content p{
line-height:20px;
margin-top:0px;
color:#333;
}
.referal-code-block-content span{
color:#666;
font-size:0.9rem;
}
.referal-code-block{
border:1px dotted #ccc;
text-align:center;
padding:15px;
font-size:1.6rem;
}
//////////////////////////////////////////////////////////
.wallet-box-details{
position:relative;
width:100%;
}
.wallet-box-details ion-navbar{
position:absolute;
}
.wallet-box-details .toolbar-background-md {
border-color: #b2b2b2;
background:transparent;
}
.wallet-box{
background:#fff;
padding:16px;
}
.wallet-box h2{
font-size:1.4rem;
margin-top:0px;
}
.wallet-box-img img{
width:100%;
}
.wallet-box .price{
font-size: 2.5rem;
color: #333;
font-weight: 500;
margin-left: 10px;
margin-top: 3px;
}
.wallet-hist-header{
background:#f5f5f5;
padding:10px 16px;
color:#333;
}
.wallet-hist-box{
border-bottom:1px solid #f5f5f5;
padding:10px 16px;
position: relative;
}
.wallet-hist-box h4{
margin-top:0px;
font-size:1.3rem;
margin-bottom:5px;
}
.wallet-hist-box p{
margin:0;
font-size:1rem;
color:#666;
}
.hprice{
position:absolute;
right:15px;
top:20px;
font-weight:bold;
}
///////////////////////////////////////////////////////////
.location-header{
position:relative;
}
.address-search-box{
position:relative;
background:#fff;
padding:0px 15px 5px;
}
.address-search-box h2{
color:#333;
margin-top:0px;
margin-bottom:5px;
font-size:2rem;
}
.address-search-box p{
color:#666;
margin-top:0px;
margin-bottom:0px;
}
.address-search{
background:#fff;
padding:0px 15px 10px;
position:relative;
}
.address-search input{
border:1px solid #ddd;
height:45px;
padding:8px 8px 8px 45px;
width:100%;
background:#fff;
margin:0;
border-radius:3px;
}
.address-search-icon{
position: absolute;
top: 17px;
left: 20px;
font-size: 1.9rem;
color: #999;
}
.myaddress-current{
position:relative;
padding:15px;
}
.myaddress-current ion-icon{
position: absolute;
font-size: 2.4rem;
left:20px;
top:20px;
color:#eb1c22;
}
.myaddress-current-content {
padding-left: 40px;
}
.myaddress-current-content h4{
margin-top:0px;
margin-bottom:3px;
font-size:1.4rem;
font-weight:500;
}
.myaddress-current-content p{
margin-top:0px;
margin-bottom:0px;
font-size:1.1rem;
color:#666;
}
//////////////////////////////////////////////////////////
.form-panel{
position:relative;
width:100%;
}
.form-panel-box{
position:relative;
width:100%;
margin-bottom:15px;
}
.form-panel ion-input{
border-bottom:1px solid #eee;
}
.form-panel .text-input-md{
margin:13px 0px;
}
.mnbox .text-input-md{
margin:13px 0px 13px 35px;
}
.country-code{
color: #666;
position: absolute;
left: 0;
bottom: 13px;
}
.otp-text{
width:100px;
margin:0 auto;
}
.otp-text ion-input{
border-bottom: 1px solid #eee;
}
.otp-text .text-input-md {
margin: 10px 0px;
text-align:center !important;
}
.otp-instr{
background:#f5f5f5;
border-radius:4px;
padding:10px 15px;
font-size:1.4rem;
line-height:24px;
}
//////////////////////////////////////////////////////////
.home-slider{
height:auto;
padding:10px 0px 5px 10px;
}
.home-slider ion-slide{
padding:5px;
}
.home-slider-img img{

}
.top-header-right{
position: relative;
}
.cart-badge {
position: absolute;
top: -3px;
right: -3px;
border-radius: 100%;
width: 17px;
padding: 2px 3px 4px;
font-weight: 400;
font-size: 1.1rem;
}
.home-cat-box{
width:100%;
position:relative;
text-align:center;
border: 1px solid #ebebeb;
border-radius: 4px;
padding: 5px;
}
.home-cat-box .home-cat-box-img{
background: #fff;
width:100%;
padding:5px;
}
.home-cat-box .home-cat-box-img img{
width:100%;
margin:0 auto;
}
.home-cat-box h4{
font-size:1.1rem;
margin:0px;
margin-bottom:0px;
background: #f2f2f2;
line-height: 24px;
font-weight:400;
}
.brand-slider{
padding:10px 0px 10px 10px;
}
.home-brand{
background:#fff;
padding:10px;
box-shadow: -1px 1px 4px 0 rgba(117, 138, 172, 0.12);
}
.home-brand img{
height:65px;
width: 65px;
object-fit:cover;
}
//////////////////////////////////////////////////////////
.add-banner{
width:100%;
position:relative;
text-align:center;
}
.add-banner img{
margin:0 auto;
width:100%;
border-radius:3px;
}
/////////////////////////////////////////////////
.myaccount-header{
position:relative;
background:#fff;
border-bottom:1px solid #eee;
}
.myaccount-edit{
position:absolute;
right:15px;
top:23px;
}
.myaccount-header .item-md{
background-color: transparent;
padding-left:15px;
}
.myaccount-header .item-md.item-block .item-inner {
padding-right: 8px;
border-bottom: 0px solid #dedede;
}
.myaccount-avatar{
background: #eb1c22;
border-radius: 50%;
padding: 16px 19px;
margin: 12px 10px 12px 0 !important;
color:#fff;
font-weight:bold;
}
.myaccount-header h2{
color:#333;
font-weight:500;
font-size:1.5rem;
}
.myaccount-header p{
color:#666;
font-weight:400;
font-size:1.2rem;
}
.myaccount-box{
width:100%;
position:relative;
padding:15px;
}
.myaccount-box-header{
width:100%;
position:relative;
border-bottom:1px dotted #ccc;
}
.myaccount-box-header h3{
margin:0px;
font-size:1.4rem;
}
.myaccount-box-header p{
margin:3px 0px 15px;
font-size:1.1rem;
font-weight:300;
}
.myaccount-list{
position:relative;
}
.myaccount-list h2{
font-weight:400;
font-size:1.4rem;
display:inline-block;
}
.myaccount-list .item-md{
padding-left:0px;
}
.myaccount-list .item-md.item-block .item-inner {
padding-right:0px;
border-bottom: 0px solid #dedede;
}
.myaccount-list .item-md ion-avatar img {
border-radius:0px;
overflow: hidden;
width:24px;
height:24px;
}
.myaccount-list .item-md ion-avatar {
min-width: 24px;
min-height: 24px;
}
.myaccount-list ion-icon{
float: right;
margin-top: 4px;
}
////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////
.hpb{
position:relative;
width: 100%;
border: 1px solid #ebebeb;
}
.hpb .hpb-img {
width: 100%;
padding:10px;
height: 150px;
overflow: hidden;
}
.hpb .hpb-img img{
width: 100%;
height: 150px;
overflow: hidden;
}
.hpb-content{
padding:10px;
text-align:left;
}
.hpb-title{
font-size:1.2rem;
height:40px;
}
.hpb-price{
width:100%;
margin-top:2px;
}
.hpb-price .new-price{
font-size: 1.6rem;
font-weight: 600;
color: #212121;
}
.hpb-price .old-price{
color: #878787;
font-size:1.4rem;
text-decoration: line-through;
}
.hpb-price .discount{
color: #388e3c;
font-size:1.3rem;
}
.hpb .select-md {
padding: 6px 10px 3px 10px;
max-width: 100%;
border: 1px solid #eee;
font-size: 1.1rem;
}
.hpb-add{
text-decoration: none;
background: #84c225;
color: #fff;
padding: 4px 8px;
border-radius: 3px;
font-size: 1.2rem;
text-transform: uppercase;
display:inline-block;
}
.hpb-add-pm{
display: -webkit-flex;
display: flex;
-webkit-flex-direction: row; 
flex-direction: row;
width: 100px;
}
.hpb-add-pm .button-mius{
box-shadow: none;
background: transparent;
padding: 10px 8px 11px;
height: 0px;
margin: 0;
line-height: 0;
border: 1px solid #84c225;
color:#84c225;
}
.hpb-add-pm .button-plus{
box-shadow: none;
background: transparent;
padding: 10px 7px 11px;
height: 0px;
margin: 0;
line-height: 0;
border: 1px solid #84c225;
color:#84c225;
}
.add-button{
background: #84c225;
color:#fff;
box-shadow: none;
height: 25px;
float: right;
font-size: 1.1rem;
margin:0;
}
.hpb-add-pm ion-input{
border: 1px solid #eee;
margin: 0px 5px;
width: 35px;
flex: inherit;
}
.hpb-add-pm .price-input{
border: 1px solid #eee;
margin: 0px 5px;
width: 100%;
flex: inherit;
text-align: center;
font-size: 1rem;
padding-top:5px;
}

.hpb-add-pm .text-input-md{
margin: 0px;
text-align: center;
font-size: 1rem;
width: 100%;
}
.hpb-qty-box{
position: relative;
}
.product-details{
position:relative;
}
.product-details-img{
position:relative;
padding:5px 0px 20px;
text-align:center;
}
.product-details-img img{
width:180px;
height:180px;
margin:0 auto;
}
.product-details .product-details-title{
font-size:1.5rem;
line-height:18px;
font-weight:500;
margin-top:10px;
margin-bottom:5px;
}
.product-details .swiper-pagination-bullet {
border-radius: 100%;
display: inline-block;
width: 8px;
height: 8px;
background: #338288 !important;
opacity: .2;
pointer-events: auto;
}
.product-details .swiper-pagination-bullet-active {
background: #338288;
opacity: 1;
}
.product-details .product-merchant{
font-size:1.3rem;
}
.product-box-list{
position:relative;
}
.product-box-list .product-box:nth-child(odd) {
width: 50%;
height: 215px;
overflow: hidden;
text-align: center;
float: left;
border-right: 1px solid #ddd;
border-bottom: 1px solid #ddd;
background:#fff;
}
.product-box-list .product-box:nth-child(even) {
width: 50%;
height: 215px;
overflow: hidden;
text-align: center;
float: left;
border-bottom: 1px solid #ddd;
background:#fff;
}
.product-box-list .product-box .product-img{
width:100%;
height:150px;
overflow:hidden;
padding: 15px;
}
.product-img{
width:100%;
height:125px;
overflow:hidden;
padding: 10px;
}
.product-img img{
width:55%;
}
.product-content{
text-align:left;
padding:10px 10px 5px;
}
.product-content h4{
font-size: 1.3rem;
font-weight: 500;
margin-bottom: 5px;
margin-top:0px;
line-height:18px;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}
.price{
margin-top:0px;
margin-bottom:0px;
width:100%;
}
.price .price-new, .price span.price {
color: #333;
font-size: 14px;
font-weight: 500;
}
.price .price-old {
line-height: 20px;
padding: 0px 5px 0px 5px;
display: inline-block;
text-decoration: line-through;
color: #878787;
font-size: 11px;
font-weight: normal;
}
.price .off {
color: #388e3c;
font-size: 11px;
letter-spacing: -.2px;
font-weight: 500;
}
.price-big{
width:100%;
}
.price-big .price-new, .price-big span.price {
color: #333;
font-size: 1.8rem;
font-weight: 500;
}
.price-big .price-old {
line-height: 20px;
padding: 0px 5px 0px 5px;
display: inline-block;
text-decoration: line-through;
color: #878787;
font-size: 1.4rem;
font-weight: normal;
}
.price-big .off {
color: #388e3c;
font-size: 11px;
letter-spacing: -.2px;
font-weight: 500;
}

//////////////////////////////////////////////////////////
.hpb-hr{
position:relative;
width: 100%;
border-bottom: 1px solid #ebebeb;
padding:10px;
}
.hpb-hr .hpb-hr-img {
width: 100%;
height: 100px;
overflow: hidden;
position:relative;
}
.hpb-hr .hpb-hr-img img{
width: 100%;
height: 100px;
overflow: hidden;
}
.off-budget{
position: absolute;
top: 0;
left: 0;
background: #b53737;
color: #fff;
text-align: center;
width: 40px;
height: 40px;
border-radius: 100%;
font-size: 1.2rem;
padding: 7px;
line-height: 13px;
}
.hpb-hr-content{
padding:0px 0px 0px 10px;
}
.hpb-hr-title{
font-size:1.4rem;
font-weight:500;
height:28px;
}
.hpb-hr-price{
width:100%;
padding-bottom:10px;
}
.hpb-hr-price .new-price{
font-size: 1.5rem;
font-weight: 500;
color: #212121;
}
.hpb-hr-price .old-price{
color: #878787;
font-size:1.2rem;
text-decoration: line-through;
}
.hpb-hr-price .discount{
color: #388e3c;
font-size:1.2rem;
}
.hpb-hr .select-md {
padding: 6px 10px 3px 10px;
max-width: 100%;
border: 1px solid #ddd;
font-size: 1.1rem;
border-radius:3px;
}
.hpb-hr-add{
text-decoration: none;
background: #84c225;
color: #fff;
padding: 4px 8px;
border-radius: 3px;
font-size: 1.2rem;
text-transform: uppercase;
display:inline-block;
}
.hpb-hr-add-pm{
display: -webkit-flex;
display: flex;
-webkit-flex-direction: row; 
flex-direction: row;
width: 100px;
}
.hpb-hr-add-pm button{
box-shadow: none;
background: transparent;
padding: 10px 9px 13px;
height: 0px;
margin: 0;
line-height: 0;
border: 1px solid #84c225;
color:#84c225;
}
.hpb-hr-add-pm ion-input{
border:1px solid #eee;
margin: 0px 5px;
}
.hpb-hr-add-pm .text-input-md{
margin: 0px;
text-align: center;
font-size: 1.1rem;
width: 100%;
}
//////////////////////////////////////////////////////////
.mlist{
margin-bottom: 0;
}
.mlist .label-md{
margin: 0px 8px 0px 0;
}
.mlist .item-block{
min-height: 3.4rem;
}
//////////////////////////////////////////////////////////
.apply-promo{
background:#fff;
position:relative;
}
.apply-promo-text{
position:relative;
width: 100%;
vertical-align:middle;
}
.apply-promo-text h3{
font-size:1.4rem;
margin-top:0px;
margin-bottom:0px;
font-weight:500;
}
.apply-promo ion-icon{
font-size: 2rem;
position: absolute;
right: 0;
top: 0;
}
.apply-promo-text p{
display: block;
font-size: 1.1rem;
color: #666;
font-weight: 300;
}
.apply-promo-icon{
margin-right:10px;
}
.apply-promo-icon img{
width:35px;
}
.apply-promo .item-md.item-block .item-inner {
padding-right: 8px;
border-bottom: 0px solid #dedede;
}
.apply-promo .item-md {
padding-left: 15px;
}
.apply-promo .item-md ion-avatar {
min-width: 24px;
min-height: 24px;
}
.apply-promo .item-md ion-avatar img {
border-radius: 50%;
overflow: hidden;
width: 24px;
height: 24px;
}
.apply-promo  .item-md ion-avatar[item-start], .item-md ion-thumbnail[item-start] {
margin: 8px 10px 8px 0;
}
//////////////////////////////////////////////////////////
.bill-list{
position:relative;
width:100%;
}
.bill-list ul{
margin:0;
padding:0;
list-style:none;
}
.bill-list ul li{
width:100%;
font-size:1.3rem;
line-height: 30px;
font-weight:400;
}
.bill-list ul li span{
float:right;
}
////////////////////////////////////////////
.address-tag{
position:relative;
}
.address-tag ion-icon{
margin-right:5px;
color:#999;
}
.choose-address{
width:100%;
background:#fff;
padding:15px;
display:flex;
border-bottom:1px solid #eee;
}
.choose-address .choose-address-icon{
width:65px;
height:50px;
position:relative;
border:1px solid #ccc;
text-align:center;
}
.choose-address .choose-address-icon img{
width: 30px;
margin-top: 8px;
}
.choose-address .choose-address-cont{
position:relative;
padding-left:10px;
width: 100%;
}
.choose-address .choose-address-cont h3{
font-weight: 500;
font-size: 1.4rem;
margin-top: 2px;
margin-bottom: 5px;
}
.choose-address .choose-address-cont p{
margin: 0px;
color: #666;
font-size: 1.1rem;
line-height: 18px;
}
.change-address{
font-size: 1.2rem;
text-transform: uppercase;
color: #eb1c22;
font-weight: 500;
position: absolute;
right: 15px;
}
.choose-address .right-tick{
position: absolute;
top: -16px;
right: -8px;
}
.choose-address .right-tick img{
width:18px;
}
.ptp{
color:#fff;
text-transform:uppercase;
font-size:1.4rem;
font-weight:500;
padding:15px;
}
.ptp-cart{
color: #000;
padding: 7px 15px;
line-height: 17px;
}
.ptp-cart span{
font-size: 1.2rem;
color: #666;
}
.ptp-cart .ptp-text{
font-size:1.4rem;
font-weight:500;
}
//////////////////////////////////////////////////////////
.cp-list{
background:#fff;
border-bottom:1px solid #eee;
padding:5px 10px;
}
.cplist-title{
font-size:1.2rem;
}
//////////////////////////////////////////////////////////
.address-t{
background:#f5f5f5;
padding:10px 15px;
}
.saved-address-box{
position:relative;
padding:15px;
border-bottom:1px solid #eee;
}
.saved-address-box h3{
margin-top:0px;
font-size:1.4rem; 
font-weight:500;
margin-bottom:5px;
}
.saved-address-box p{
margin-top:0px;
font-size:1.2rem; 
color:#666;
line-height: 20px;
}
.saved-address-content{
position:relative;
}
.saved-address-button{
position:relative;
}
.saved-address-button span{
color:#84c225;
font-weight:bold;
}
.address-search-box{
position:relative;
background:#232f3e;
padding:0px 15px 5px;
}
.address-search-box h2{
color:#fff;
margin-top:0px;
margin-bottom:5px;
font-size:2rem;
}
.address-search-box p{
color:#fff;
margin-top:0px;
margin-bottom:0px;
}
.address-search{
background:#232f3e;
padding:0px 15px 10px;
position:relative;
}
.address-search input{
border:1px solid #fff;
height:45px;
padding:8px 8px 8px 45px;
width:100%;
background:#fff;
margin:0;
border-radius:3px;
}
.address-search-icon{
position: absolute;
top: 17px;
left: 20px;
font-size: 1.9rem;
color: #999;
}
.myaddress-current{
position:relative;
padding:15px;
}
.myaddress-current ion-icon{
position: absolute;
font-size: 2.4rem;
left:20px;
top:20px;
color:#84c225;
}
.myaddress-current-content {
padding-left: 40px;
}
.myaddress-current-content h4{
margin-top:0px;
margin-bottom:3px;
font-size:1.4rem;
font-weight:500;
}
.myaddress-current-content p{
margin-top:0px;
margin-bottom:0px;
font-size:1.1rem;
color:#666;
}
.address-choose-list{
width:100%;
}
.address-choose-list ul{
margin:0;
padding:0;
list-style:none;
}
.powered-by-google{
text-align:center;
}
.powered-by-google img{
width:25%;
}
.address-choose-list ul li{
position:relative;
padding:10px 16px;
border-bottom:1px solid #eee;
}
//////////////////////////////////////////////////////////
.price-varic{
width: 100%;
position: relative;
display: inline-block;
}
.price-varic ul{
margin:0;
padding:0;
list-style:none;
}
.price-varic ul li{
display:inline-block;
border:1px solid #eee;
padding:3px 7px;
margin-right:4px;
position:relative;
border-radius:3px;
margin-bottom:5px;
width:32%;
}
.price-varic ul li.active{
background: rgba(132,194,37,.2);
}
.price-varic ul li:hover{
box-shadow: 0 3px 16px 0 rgba(0,0,0,.11);
}
.price-varic-price{
width:100%;
margin-top:5px;
}
.price-varic-price .new-price{
font-size:1.3rem;
font-weight: 500;
color: #212121;
}
.price-varic-price .old-price{
color: #878787;
font-size:1rem;
text-decoration: line-through;
}
.price-varic-price .discount{
color: #388e3c;
font-size:11px;
}
.price-varic .tick-icon{
position: absolute;
top: 5px;
right: 5px;
}
.price-varic .tick-icon img{
width:16px;
}
.buy-button-section{
width:100%;
display:inline-block;
margin-top:20px;
}
//////////////////////////////////////////////////////////
.search-result{
padding:10px 16px;
font-size:1.3rem;
border-bottom:1px solid #eee;
}
//////////////////////////////////////////////////////////
.cart-item-box{
position:relative;
padding:10px;
background:#fff;
margin-bottom:10px;
}
.status-text{
margin-right: 5px;
width: 8px;
height: 8px;
border-radius: 50%;
display: inline-block;
}
.btn-success {
color: #fff;
background-color: #5cb85c;
border-color: #4cae4c;
}
.cart-item-box .cart-item-title{
font-weight:500;
font-size:1.3rem;
line-height:20px;
margin-bottom:5px;
}
//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////
ion-app.md [padding] .scroll-content {
    padding: 10px;
}
//////////////////////////////////////////////////////////
.header-inner .toolbar-background-md{
border-color: #ffb12b;
background: #ffb12b;
}
.toolbar-title-md{
padding:0;
font-family: 'IBM Plex Sans', sans-serif;
}
.header-inner .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
color:#fff;
}
//////////////////////////////////////////////////////////
.location-header{
position:relative;
}
.location-header span{
display:block;
color:#fff;
font-size:1.2rem;
display:flex;
align-items:center;
line-height:18px;
}
.header-search{
width:100%;
background: #ffb12b;
padding:5px 15px 10px;
}
.header-search .header-search-box{
width: 100%;
height: 45px;
background: #fff;
border-radius: 4px;
padding: 10px 15px;
color: #999;
font-size: 1.3rem;
line-height: 26px;
}
.header-search-box ion-icon{
font-size: 2.5rem;
float: left;
margin-right:10px;
}
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
.bg-dark{
background:#2d353e;
}
.bg-light{
background:#f1f4f6;
}
.pr-5{
padding-right:5px;
}
.pr-10{
padding-right:10px !important;
}
.mt-2{
margin-top:2px;
}
.mb-0{
margin-bottom:0px;
}
.tx-13{
font-size:1.3rem !important;
}
.tx-color-03 {
color:#8392a5 !important;
}
.tx-color-05 {
color:#f5f5f5 !important;
}
.tx-white{
color:#fff !important;
}
.radius04{
border-radius:4px;
}
.line20{
line-height:20px;
}
.line22{
line-height:22px;
}
.buttonab{
background:#ffb12b;
box-shadow:none;
height:45px;
border-radius:4px;
}
//////////////////////////////////////////////////////////
.login-section{
width:100%;
position:relative;
padding:25px;
}
.login-section-form{
padding:0px 25px 25px 25px;
width:100%;
position:relative;
}
.ls-form{
width:100%;
position:relative;
}
.ls-form .ls-form-box{
width:100%;
position:relative;
margin-bottom:15px;
}
.ls-form ion-input{
border:1px solid #c0ccda;
border-radius:4px;
}
.country-input .text-input-md{
padding-left:45px;
}
.country-input .country-code {
color: #666;
position: absolute;
left: 0;
bottom: 0;
width: 45px;
height: 45px;
border-right: 1px solid #ddd;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
top: 0;
}
.terms-text{
position:absolute;
bottom:0;
padding:25px;
text-align:center;
font-size:1.2rem;
line-height:22px;
}
.vo-section{
padding:25px;
width:100%;
position:relative;
}
.vo-section .vo-input{
width:100%;
position:relative;
display:flex;
margin:-5px;
padding:25px 0px 5px;
}
.vo-section .vo-input ion-input{
width:100%;
border:1px solid #c0ccda;
border-radius:4px;
margin:5px;
}
////////////////////////////////////////////////
ion-icon {
&[class*="custom-"] {
// Instead of using the font-based icons
// We're applying SVG masks
mask-size: contain;
mask-position: 50% 50%;
mask-repeat: no-repeat;
background: currentColor;
width: 1em;
height: 1em;
}
// custom icons
&[class*="custom-menu"] {
mask-image: url(../assets/icon/menu.png);
}
&[class*="custom-calendar"] {
mask-image: url(../assets/icon/calendar.png);
}
&[class*="custom-gift"] {
mask-image: url(../assets/icon/gift-box.png);
}
&[class*="custom-favourit"] {
mask-image: url(../assets/icon/favourit.png);
}
}
/////////////////////////////////////////////
.menu-header{
width:100%;
position:relative;
padding:15px;
background: #ffb12b;
}
.menu-header .menu-header-avtar{
background:#fff;
border-radius:4px;
padding:15px;
width:55px;
height:55px;
text-align:center;
}
.menu-header .menu-header-avtar img{
width:100%;
}
.menu-header .menu-header-arrow{
position: absolute;
right: 15px;
bottom: 15px;
color: #fff;
font-size:1.6rem;
}
.menu-list{
width:100%;
position:relative;
}
.menu-list ul{
margin:0;
padding:0;
list-style:none;
}
.menu-list ul li{
display:flex;
align-items:center;
font-size:1.3rem;
height:37px;
padding:0px 15px
}
.menu-list ul li img{
width:20px;
margin-right:15px;
}
.menu-list ul li ion-icon{
margin-left: auto;
}
////////////////////////////////////////////////
.main-slider ion-slides{
line-height:0px;
}
////////////////////////////////////////////////
.home-cat{
width:100%;
position:relative;
padding:5px;
}
.home-cat .hc-box{
border-radius: 4px;
position: relative;
padding:10px;
background:#fff;
height:90px;
box-shadow: -1px 1px 4px 0 rgba(117,138,172,.12);
}
.home-cat .hc-box img{
width:64px;
height:64px;
position:absolute;
right:0;
bottom:0;
}
.home-cat .hc-box p{
margin-bottom:0px;
font-size:1.1rem;
margin-top:0px;
font-weight:600;
color:#596582;
}
////////////////////////////////////////////////
.product-slider{
padding:10px 0px 10px 10px;
}
.ps-box{
box-shadow: -1px 1px 4px 0 rgba(117,138,172,.12);
background:#fff;
padding:10px;
border-radius:4px;
}
.ps-box .ps-box-img{
width:100%;
position:relative;
}
.ps-box .ps-box-img img{
width: 100px;
height: 100px;
object-fit: cover;
}
.ps-box .ps-box-content{
width:100%;
position:relative;
text-align:left;
padding:10px 0px 5px 0px;
}
.ps-box .ps-box-content .psbc-title{
font-size:1.2rem;
font-weight:600;
height:50px;
line-height:18px;
}
////////////////////////////////////////////////
.pr-list-box{
background:#fff;
margin-bottom:7px;
padding:10px 5px;
box-shadow: -1px 1px 4px 0 rgba(117, 138, 172, 0.12);
border-radius:4px;
}
.pr-list-box .pr-list-box-img{
width:100%;
position:relative;
height:100px;
display: flex;
align-items: center;
}
.pr-list-box .pr-list-box-img img{
width:90px;
position:relative;
height:90px;
object-fit:cover;
}
.pr-list-box .pr-off{
position: absolute;
z-index: 99999;
background: #24ad20;
color: #fff;
top:0;
font-size: 1rem;
font-weight: 600;
text-transform: uppercase;
border-radius: 4px;
padding: 3px 5px;
}
.pr-list-box .pr-box-title{
font-size:1.4rem;
font-weight:500;
margin-bottom:10px;
line-height:22px;
}
.pr-price{
width:100%;
position:relative;
}
.pr-price .new-price{
font-size:1.6rem;
font-weight:600;
}
.pr-price .old-price{
font-size:1.3rem;
font-weight:500;
color:#666;
text-decoration: line-through;
}
.pr-price .discount{
color:#24ad20;
}
.pr-qty-box{
width:100%;
position:relative;
display:flex;
align-items:center;
margin-top:25px;
}
.pr-qty-box .pr-qty-unit{
width:100%;
}
.pr-qty-unit .select-md {
    padding: 5px 8px 5px 8px;
    border: 1px solid #ddd;
    width: 100%;
    border-radius: 3px;
    font-size: 1.1rem;
}
.pr-qty-unit ion-select{
max-width:60%;
}
.pr-qty-box .prq-add{
margin-left:auto;
}
.prq-add .btn-addcart{
background:#ffb12b;
box-shadow:none;
border-radius:4px;
height:30px;
width:90px;
font-size:1.2rem;
font-weight:600;
margin:0;
}
.prq-add-pm{
height:30px;
width:90px;
display:flex;
align-items:center;
}
.prq-add-pm .button-addpm{
background:#ffb12b;
box-shadow:none;
border-radius:4px;
height:30px;
width:30px;
font-size: 1.6rem;
padding: 0;
display: flex;
align-items: center;
}
.prq-add-pm .prq-input{
width:30px;
height:30px;
display: flex;
align-items: center;
text-align:center;
justify-content: center;
}
////////////////////////////////////////////////
////////////////////////////////////////////////
////////////////////////////////////////////////






















