<ion-menu [content]="content" type="overlay">
<ion-content>
<div class="menu-header" (click)="goToRegMobNo()"  *ngIf="user_data.user_id==undefined">
<div class="menu-header-avtar">
<img src="assets/icon/account.png">
</div>
<h6 class="mb-5 fw-600 tx-white">Login & Sign Up</h6>
<div class="menu-header-arrow">
<ion-icon name="ios-arrow-forward"></ion-icon>
</div>
</div>
<div class="menu-header" (click)="openmyac()"  *ngIf="user_data.user_id!=undefined">
<div class="menu-header-avtar">
<img src="assets/icon/account.png">
</div>
<h6 class="mb-0 fw-600 tx-white">{{user_data.user_first_name}}{{user_data.user_last_name}}</h6>
<p class="mb-0 mt-5 tx-13 tx-white">+91-{{user_data.user_mobile}}</p>
<div class="menu-header-arrow">
<ion-icon name="ios-arrow-forward"></ion-icon>
</div>
</div>
<div class="menu-list">
<ul>
<li><img src="assets/icon/home.png">Shop By Categories</li>
<hr>
<li (click)="openwallet()"><img src="assets/icon/wallet.png">My Wallet</li>
<li (click)="openmyaddress()"><img src="assets/icon/address.png">My Addresses</li>
<li (click)="openmycart()"><img src="assets/icon/cart.png">My Cart</li>
<li (click)="openmyorder()"><img src="assets/icon/menu-order.png">My Orders</li>

<hr>
<li (click)="opensharearn()"><img src="assets/icon/share.png">Share & Earn</li>
<li (click)="openrate()"><img src="assets/icon/like.png">Rate us on play store</li>
<li><img src="assets/icon/support.png">Help & Support</li>
</ul>
</div>



<ion-list class="mlist pt-10" >


<ion-item class="f14"  (click)= "goToProductlistPage(category)"  *ngFor="let category of dashboarddata.category">{{category.category_name}}</ion-item>

</ion-list>


</ion-content>
 
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>