<!--
  Generated template for the ViewtwoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{tag.tag_title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

 <div class="panel-box p0">
 <div class="hpb-hr" *ngFor="let pdd of product">
<ion-row>
<ion-col col-4>
<div class="hpb-hr-img" (click)="openproductdetail(category)">
<img src="{{product_url}}{{pdd.product_featured_image}}">
</div>
</ion-col>
<ion-col col-8 >
<div class="hpb-hr-content">
<div class="hpb-hr-title">{{pdd.product_name}}</div>
<div class="hpb-qty-box">

<ion-select (ionChange)="setdata($event,pdd)" >
<ion-option [selected]="i==0"   value="{{i}}"  *ngFor="let unitdata of pdd.sk_productbusinessprice; let i = index"  name="periodSelected" >{{unitdata.sk_unit.unit_name}} - ₹{{unitdata.pu_net_price}}</ion-option>
</ion-select>
</div> 
<div>
<div class="hpb-price mt-10 clsp{{pdd.sk_productbusinessprice[0].pu_id}} clscommon{{pdd.sk_productbusinessprice[0].pu_product_id}}"  *ngIf="pdd.sk_productbusinessprice[0]!=undefined"  >
<span class="new-price">₹{{pdd.sk_productbusinessprice[0].pu_net_price}}</span>
<span class="old-price ml-5">₹{{pdd.sk_productbusinessprice[0].pu_selling_price}}</span>
<span class="discount ml-5">33% off </span>
</div>
</div>

<ion-col col-5 class="pr-0 clscpadddata{{pdd.sk_productbusinessprice[0].pu_product_id}}">
    <button ion-button class="add-button" (click)="addtocart(pdd,0)">ADD</button>
    
    <div class="hpb-add-pm" style="display:none">
    <button ion-button class="button-mius">-</button>
    <ion-input type="text"></ion-input>
    <button ion-button class="button-plus">+</button>
    </div>
    </ion-col>
    
</div>
</ion-col>
</ion-row>
</div>
</div>

</ion-content>
