<!--
Generated template for the AddressPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-buttons start (click)="closeModal()" class="close-cion">
<button ion-button icon-only class="close">
<ion-icon name="close"></ion-icon>
</button>
</ion-buttons>
<ion-header>
<ion-navbar>
<ion-title>Add New Address</ion-title>
</ion-navbar>
</ion-header>
<ion-content>
<div class="error-message" *ngIf="loginErrorMsg!=''" >{{loginErrorMsg}}</div>
<form [formGroup]="validations_form">
<div class="lr-form" style="background:#fff;">

<div class="lr-form-box">
<ion-input type="text" placeholder="Name" formControlName="ab_name"></ion-input>
</div>
<div class="lr-form-box">
<ion-input type="number" placeholder="Mobile No" formControlName="ab_phone"></ion-input>
</div>
<div class="lr-form-box">
<ion-input type="text" placeholder="Street-Address" formControlName="ab_address"></ion-input>
</div>
<div class="lr-form-box">
<ion-input type="text" placeholder="Flat/House No." formControlName="ab_locality"></ion-input>
</div>
<div class="lr-form-box">
<ion-input type="text" placeholder="Apartment/Locality" formControlName="ab_landmark"></ion-input>
</div>
<div class="lr-form-box" (ionTap)="openstate()" (click)="openstate()">
<ion-input type="text" placeholder="State" formControlName="ab_state" readonly></ion-input>
</div>
<div class="lr-form-box" (ionTap)="opencity()" (click)="opencity()">
<ion-input type="text" placeholder="City" formControlName="ab_city" readonly></ion-input>
</div>

<div class="lr-form-box">
<ion-input type="number" placeholder="Pincode" formControlName="ab_pincode"></ion-input>
</div>

<div class="address-tag mt-20">
<ion-row>
<ion-col col-4 (click)="activetype('Home')" [class.active]="active_type=='Home'"><ion-icon ios="ios-home" md="md-home"></ion-icon> Home</ion-col>
<ion-col col-4 (click)="activetype('Work')" [class.active]="active_type=='Work'"><ion-icon ios="ios-briefcase" md="md-briefcase"></ion-icon> Work</ion-col>
<ion-col col-4 (click)="activetype('Other')" [class.active]="active_type=='Other'"><ion-icon ios="ios-pin-outline" md="md-pin"></ion-icon> Other</ion-col>
</ion-row>
</div>

<div class="lr-form-box mt-20">
<button (click)= "filladdress()" class="button-green" ion-button full>SUBMIT</button>
</div>
</div>
</form>
</ion-content>
