<!--
Generated template for the AccountPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
<ion-navbar>
<ion-title>My Account</ion-title>
</ion-navbar>
</ion-header>
<ion-content>
<div class="myaccount-header" (click)="goToEditPage()">
<ion-item>
<ion-avatar item-start><img src="assets/imgs/placeholder.jpg"></ion-avatar>
<h2>{{user_data.user_first_name}}{{user_data.user_last_name}}</h2>
<p>+91- {{user_data.user_mobile}} </p>
</ion-item>
<div class="myaccount-edit">
<button ion-button class="button-plane" (click)="goToEditPage()">Edit</button>
</div>
</div>
<div class="myaccount-box bg-white">
<div class="myaccount-box-header pb-15">
<h3>My Account</h3>
<p>Wallet, Orders, Referrals & Offers</p>
</div>
<div class="myaccount-list">
<ion-item (click)="openwallet()">
<ion-avatar item-start>
<img src="assets/icon/wallet-account.png">
</ion-avatar>
<h2>Wallet</h2>
<ion-icon name="ios-arrow-forward"></ion-icon>
</ion-item>
<ion-item (click)="goToOrderPage()">
<ion-avatar item-start>
<img src="assets/icon/order.png">
</ion-avatar>
<h2>Manage Orders</h2>
<ion-icon name="ios-arrow-forward"></ion-icon>
</ion-item>
<ion-item (click)="goToAddressPage()">
<ion-avatar item-start>
<img src="assets/icon/address.png">
</ion-avatar>
<h2>Address</h2>
<ion-icon name="ios-arrow-forward"></ion-icon>
</ion-item>
<ion-item (click)="opensharearn()">
<ion-avatar item-start>
<img src="assets/icon/like.png">
</ion-avatar>
<h2>Referral & Earns</h2>
<ion-icon name="ios-arrow-forward"></ion-icon>
</ion-item>
<ion-item (click)="goToOffersPage()">
<ion-avatar item-start>
<img src="assets/icon/offer.png">
</ion-avatar>
<h2>Offers</h2>
<ion-icon name="ios-arrow-forward"></ion-icon>
</ion-item>
<ion-item (click)="openhelpsupport()">
<ion-avatar item-start>
<img src="assets/icon/support.png">
</ion-avatar>
<h2>Help & Support</h2>
<ion-icon name="ios-arrow-forward"></ion-icon>
</ion-item>
</div> 
</div>
<div class="divider"></div>
<div class="myaccount-list mt-5 pl-15 pr-15">
<ion-item (click)="logoutUser()">
<h2>LOGOUT</h2>
 <ion-icon name="ios-log-out"></ion-icon>
</ion-item>
</div>
</ion-content>
