<!--
  Generated template for the ViewonePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Caterories</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >

<ion-row>
<ion-col col-4 *ngFor="let category of dashboarddata.category">
<div class="home-cat-box text-center"  (click)="openproductlist(category)">
<h4>{{category.category_name}}</h4>
<div class="home-cat-box-img">
<img src="{{dashboarddata.category_url}}{{category.category_icon}}" *ngIf="category.category_icon!=null">
<img src="assets/imgs/placeholder.jpg" *ngIf="category.category_icon==null">
</div>
</div>
</ion-col>
</ion-row>



</ion-content>
