<!--
Generated template for the WalletPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
<ion-navbar>
<ion-title>Wallet</ion-title>
</ion-navbar>
</ion-header>

<ion-content>
<div class="wallet-box-details">
<div class="wallet-box">
<h2>JiyoHome Wallet</h2>
<ion-row>
<ion-col col-2 class="p0">
<div class="wallet-box-img">
<img src="assets/imgs/wallet.png">
</div>
</ion-col>
<ion-col col-10 class="p0">
<div class="price pt-10">₹{{walletbalance}}</div>
</ion-col>
</ion-row>
</div>
<div class="wallet-hist">
<div class="wallet-hist-header">Recents</div>
<div class="wallet-hist-box" *ngFor="let wallet of wallethistory">
<h4>{{wallet.uw_remark}}</h4>
<p>{{wallet.uw_datetime}}</p>
<div class="hprice">
₹ {{wallet.uw_amount}}
</div>
</div>
</div>
</div>
</ion-content>

