<!--
Generated template for the AddaddressPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
<ion-navbar></ion-navbar>
<div class="address-search-box">
<ion-row> 
<ion-col col-12>
<h2>Set your location</h2>
<p>Search for nearest landmark or locality</p>
</ion-col>
</ion-row>
</div>
<ion-row class="address-search"> 
<ion-col col-12>
<ion-input  placeholder="Search for area, street name..." ></ion-input>
<div class="address-search-icon">  <ion-icon ios="ios-pin-outline" md="md-pin"></ion-icon></div>
</ion-col>
</ion-row>
</ion-header>

<ion-content>
<div class="myaddress-current" (click)="openaddress()">
<ion-icon ios="ios-locate-outline" md="md-locate"></ion-icon>
<div class="myaddress-current-content">
<h4>Use Current Location</h4>
<p>Using GPS</p>
</div>
</div>
<div class="address-choose-list">
<ul>
<li (click)="openaddress(city)">test</li>
</ul>
<div class="powered-by-google mt-30">
<img src="assets/imgs/powered-by-google.png">
</div>
</div>
</ion-content>
