<!--
Generated template for the ProductdetailsPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
<ion-navbar>
<ion-title>Product Details</ion-title>
<ion-buttons end>
<button ion-button icon-only class="top-header-right" (click)="opencart()">
<ion-icon name="cart"></ion-icon>
<ion-badge class="cart-badge" color="danger" *ngIf="cartdata.length>0">{{cartdata.length}}</ion-badge>
</button>
</ion-buttons>
</ion-navbar>
</ion-header>
<ion-content>
<div class="product-details p15">
<ion-slides pager>
<ion-slide>
<div class="product-details-img" >
<img src="{{product_url}}{{product_detail.product_image1}}">
</div>
</ion-slide>
<ion-slide *ngIf="product_detail.product_image2!=''">
<div class="product-details-img" >
<img src="{{product_url}}{{product_detail.product_image2}}">
</div>
</ion-slide>
<ion-slide *ngIf="product_detail.product_image3!=''">
<div class="product-details-img" >
<img src="{{product_url}}{{product_detail.product_image3}}">
</div>
</ion-slide>
<ion-slide *ngIf="product_detail.product_image4!=''">
<div class="product-details-img" >
<img src="{{product_url}}{{product_detail.product_image4}}">
</div>
</ion-slide>
<ion-slide *ngIf="product_detail.product_image5!=''">
<div class="product-details-img" >
<img src="{{product_url}}{{product_detail.product_image5}}">
</div>
</ion-slide>
<ion-slide *ngIf="product_detail.product_image6!=''">
<div class="product-details-img" >
<img src="{{product_url}}{{product_detail.product_image6}}">
</div>
</ion-slide>
<ion-slide *ngIf="product_detail.product_image7!=''">
<div class="product-details-img" >
<img src="{{product_url}}{{product_detail.product_image7}}">
</div>
</ion-slide>
</ion-slides>
<div class="product-details-title">{{product_detail.product_name}}</div>
<div class="price-big mb-10">
<span class="price-new">₹{{unitSelectedObject.pu_net_price}}</span>
<span class="price-old">₹{{unitSelectedObject.pu_selling_price}}</span>
<span class="off"  *ngIf="getpercentagediscountww()>0">{{getpercentagediscountww()}}% off</span> 
</div>
<div class="product-merchant mb-10">Availability:
<span style="color:green">{{this.outofstock}}</span>
</div>
<div class="price-varic mt-10">
<ul>
<li *ngFor="let pc of product_detail.child"  [class.active]="unitSelectedId == pc.unit_id && pc.pu_qty>0" (click)="setUnitData(pc)" >
<div class="price-varic-qty">{{pc.unit_name}}</div>
<div class="price-varic-price">
<span class="new-price">₹{{pc.pu_net_price}}</span>
<span class="old-price">₹{{pc.pu_selling_price}}</span>

</div>
<div class="tick-icon">
<img src="https://www.jiyohome.com/img/checked.png" *ngIf="unitSelectedId == pc.unit_id ">
<img src="https://www.jiyohome.com/img/checked-gray.png" *ngIf="unitSelectedId != pc.unit_id">
</div>
</li>


 
</ul>

</div>

</div>
<div class="divider"></div>

<div class="panel-title border-bottom">Description</div>
<div class="panel-box des">
<ion-row>
<ion-col col-12>
    <div [innerHtml] = "product_detail.product_desc" ></div>

<!--
<p>We at Rara Spices provide highest quality Ajwain from the best fields of India at your doorstep.</p>
<p>Ajwain is rarely eaten raw; they are commonly roasted or fried in ghee.
     This allows the spice to develop a more subtle and complex aroma.
      In Indian cuisine, it is often part of a chukan, a mixture of spices fried in oil or butter, which is used to flavor dal's and various other curries.
       It is widely used in South Asian cuisines like Indian and Pakistani cuisine as well, and it is also an important ingredient for herbal medicine practiced there.
        In Afghanistan, the fruits are sprinkled over bread and biscuits.</p>
-->
</ion-col>

</ion-row>
</div>

<div class="divider"></div>

<div class="panel-title border-bottom">Specifications</div>
<div class="panel-box des">
<ion-row>
<ion-col col-12>
    <div [innerHtml] = "product_detail.product_spec" ></div>

<!--
<p>We at Rara Spices provide highest quality Ajwain from the best fields of India at your doorstep.</p>
<p>Ajwain is rarely eaten raw; they are commonly roasted or fried in ghee.
     This allows the spice to develop a more subtle and complex aroma.
      In Indian cuisine, it is often part of a chukan, a mixture of spices fried in oil or butter, which is used to flavor dal's and various other curries.
       It is widely used in South Asian cuisines like Indian and Pakistani cuisine as well, and it is also an important ingredient for herbal medicine practiced there.
        In Afghanistan, the fruits are sprinkled over bread and biscuits.</p>
-->
</ion-col>

</ion-row>
</div>


<div class="divider"></div>
<div class="panel-title border-bottom">Specifications</div>
<div class="panel-box des">
<ion-row>
<ion-col col-12>
<p>We at Rara Spices provide highest quality Ajwain from the best fields of India at your doorstep.</p><p>Ajwain is rarely eaten raw; they are commonly roasted or fried in ghee. This allows the spice to develop a more subtle and complex aroma. In Indian cuisine, it is often part of a chukan, a mixture of spices fried in oil or butter, which is used to flavor dal's and various other curries . It is widely used in South Asian cuisines like Indian and Pakistani cuisine as well, and it is also an important ingredient for herbal medicine practiced there. In Afghanistan, the fruits are sprinkled over bread and biscuits.</p>
</ion-col>
</ion-row>
</div>


<div class="divider"></div>
<div class="panel-title border-bottom">Similar Products<span class="pull-right f12" (click)="goViewproductdetail()">View All</span></div>

<div class="product-box-list" *ngFor="let pdd of related_product" (click)="getdetail(pdd)">
<div class="product-box">
<div class="product-img">
<img src="{{product_url}}{{pdd.product_image1}}">
</div>
<div class="product-content">
<h4>{{pdd.product_name}}</h4>
<div class="price"><span class="price-new">₹{{pdd.sk_productbusinessprice[0].pu_net_price}}</span>
    <span class="price-old">₹{{pdd.sk_productbusinessprice[0].pu_selling_price}}</span> 
    <span class="off" *ngIf="getpercentagediscountw(pdd)>0">{{getpercentagediscountw(pdd)}}% off</span>
 </div>
</div>
</div>

</div>
</ion-content>
<ion-footer class="p0">
<ion-row>
<ion-col col-6 class="p0">
<button ion-button full class="button-h" (click)="addtocart()">Add to Cart</button>
</ion-col>
<ion-col col-6 class="p0">
<button ion-button full class="button-i" (click)="buynow()">Buy Now</button>
</ion-col>
</ion-row>
</ion-footer>
