<!--
Generated template for the MycartPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
<ion-navbar>
<ion-title>My Cart</ion-title>
</ion-navbar>
</ion-header>


<ion-content class="bg-gray">
        <div class="no-img" *ngIf="cartdata.length==0">
                <div class="no-img-box">
                <img src="assets/imgs/empty_product.svg">
                </div>
                <h3>No Products Found</h3>
                <p>No Product Found in This Category</p>
                </div>


<div *ngIf="cartdata.length>0">
<div class="cp-list" *ngFor="let cartd of cartdata">
<ion-row>
<ion-col col-3>
<img src="{{cartd.url}}{{cartd.image}}">
</ion-col>
<ion-col col-9>
<ion-row>
<ion-col col-6 class="p0">
<div class="cplist-title">{{cartd.title}}</div>
<div class="hpb-hr-price mt-10">
<span class="new-price">₹{{cartd.pu_net_price}}</span>
<span class="old-price ml-5">₹{{cartd.pu_selling_price}}</span>
</div>
</ion-col>
<ion-col col-5 class="pr-0" >
<div class="hpb-add-pm pull-right">
<button ion-button class="button-mius" (click)="minustocart(cartd)">-</button>
 <span class="price-input">{{cartd.qty}}</span>
 <button ion-button class="button-plus" (click)="plustocart(cartd)">+</button>
</div>

</ion-col>

</ion-row>
</ion-col>
</ion-row>
</div>


<div class="apply-promo" (click)="openoffers()"  *ngIf="promo_discount<=0">
<ion-item>
<ion-avatar item-start>
<img src="assets/icon/discount.png">
</ion-avatar>
<div class="apply-promo-text">
<h3>Apply Promo Code</h3>
<ion-icon name="ios-arrow-forward"></ion-icon>
</div>
</ion-item>
</div>

<div class="apply-promo" *ngIf="promo_discount>0">
    <ion-item>
    <ion-avatar item-start>
    <img src="assets/icon/discount.png">
    </ion-avatar>
    <div class="apply-promo-text">
    <h3>{{select_promo.notification}}</h3>
    <ion-icon name="ios-close-outline" (click)="removepromo()"></ion-icon>
    </div>
    </ion-item>
</div>
<ion-row class="p10" *ngIf="carttotal<min_cart_value">
    <ion-col col-12>
    <div class="alert-box alert-info text-center" role="alert">
    <span class="f12 text-center">Minimum Order ₹{{min_cart_value}}</span>
    </div>
    </ion-col>
    </ion-row>

<div class="panel-title mt-10">Price Details</div>
<div class="panel-box">
<div class="bill-list">
<ul>
<li>Price ({{cartdata.length}} item) <span>₹{{carttotal}}</span></li>
<li >Delivery <span *ngIf="delivery_charge<=0">Free</span><span  *ngIf="delivery_charge>0">₹{{delivery_charge}}</span></li>
 <li *ngIf="promo_discount>0">Discount <span>-₹{{promo_discount}}</span></li>

<div class="divider-dotted mb-5 mt-5"></div>
<li><strong>Amount Payable</strong> <span>₹{{cartgrandtotal}}</span></li>
</ul>
</div>
</div>
</div>
</ion-content>
<ion-footer *ngIf="cartdata.length>0">
<div class="choose-address"   *ngIf="selected_address.ab_id!=undefined">
<div class="choose-address-icon"><div class="right-tick"><img src="assets/icon/checked.png"></div><img src="assets/icon/address.png"></div>
<div class="choose-address-cont">
<h3>{{selected_address.ab_type}}</h3>
<p>{{selected_address.ab_address}}</p>
</div>
<div class="change-address"  (click)="openaddress()">Change</div>
</div>
<ion-row>
<ion-col col class="p0">
<div class="ptp-cart bg-white">
<div class="ptp-text">₹{{cartgrandtotal}}</div>
<span>View Price Details</span>
</div>
</ion-col>
<ion-col col class="p0 bg-green" (click)="openaddress()" *ngIf="selected_address.ab_id==undefined">
<div class="ptp text-center">Select Adress</div>
</ion-col>
<ion-col col class="p0 bg-green" (click)="openpayment()" *ngIf="selected_address.ab_id!=undefined">
<div class="ptp text-center">Place Order</div>
</ion-col>
</ion-row>
</ion-footer>

