page-mycart {
    .alert-info {
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;
        }
        .alert-box {
        padding: 15px;
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
        border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
        border-radius: 4px;
        }
        
}
