<!--
  Generated template for the FaqPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Frequently asked questions</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<p class="text-center" *ngIf="hidef==0">
<ion-spinner name="crescent" class="mt-100"></ion-spinner>
</p>
	  <iframe height="100%" width="100%" [class.hide]="hidef==0" [src]="my_iframe_url" style="border:none;"></iframe>
<ion-content padding>
<iframe src="" style="width:100%;height:100%"></iframe>
</ion-content>
